<template>
  <div class="row">
    <div class="col-sm-4">
      <gl-single-stat
        title="Success stat"
        value="100ms"
        variant="success"
      />
    </div>
    <div class="col-sm-4">
      <gl-single-stat
        title="Warning stat"
        value="1000ms"
        variant="warning"
      />
    </div>
    <div class="col-sm-4">
      <gl-single-stat
        title="Danger stat"
        value="100000ms"
        variant="danger"
      />
    </div>
    <div class="col-sm-4">
      <gl-single-stat
        title="Primary stat"
        value="22°C"
        variant="primary"
      />
    </div>
    <div class="col-sm-4">
      <gl-single-stat
        title="Secondary stat"
        value="50%"
        variant="secondary"
      />
    </div>
  </div>
</template>
